{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"chrome": "67"
				},
				"corejs": 2,
				"useBuiltIns": "usage"
			}
		]
	],
	"plugins": [
		[
		  "@babel/plugin-transform-runtime",
		  {
			"absoluteRuntime": false,
			"corejs": 2,
			"helpers": true,
			"regenerator": true,
			"useESModules": false
		  }
		  
		],
		"@babel/plugin-syntax-dynamic-import"
  ]
}